img.img-asset {
  width: 100%;
}

.sys-blank {
  z-index: 2000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.admin-control {
  position: fixed;
  bottom: 20px;
  right: 100px;
  opacity: .7;
  padding: 10px 20px;
  background-color: #858585;
  border-radius: 3px;
  z-index: 999;
}

.admin-control:hover {
  opacity: 1;
}

.admin-control a {
  cursor: pointer;
}

.sys-alert {
  width: 40%;
  /* width: max-content; */
  height: fit-content;
  max-height: 90%;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  z-index: 3000;
  display: block;
  visibility: hidden;
  border-radius: 2px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.sys-alert.show {
  visibility: visible;
  opacity: 1;
  top: 50px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: 99999999;
}

.sys-alert .alert-content {
  padding: 20px;
  height: fit-content;
}

.sys-alert .alert-control {
  padding: 7px;
  background-color: #d8d8d8;
  border-top: 1px solid #c8c8c8;
  text-align: right;
}

.sys-alert .alert-control button {
  margin-right: 10px;
}