 @-moz-keyframes dothabottomcheck {
   0% {
     height: 0;
   }

   100% {
     height: 7px;
   }
 }

 @-webkit-keyframes dothabottomcheck {
   0% {
     height: 0;
   }

   100% {
     height: 7px;
   }
 }

 @keyframes dothabottomcheck {
   0% {
     height: 0;
   }

   100% {
     height: 7px;
   }
 }

 @keyframes dothatopcheck {
   0% {
     height: 0;
   }

   50% {
     height: 0;
   }

   100% {
     height: 20px;
   }
 }

 @-webkit-keyframes dothatopcheck {
   0% {
     height: 0;
   }

   50% {
     height: 0;
   }

   100% {
     height: 20px;
   }
 }

 @-moz-keyframes dothatopcheck {
   0% {
     height: 0;
   }

   50% {
     height: 0;
   }

   100% {
     height: 20px;
   }
 }

 input[type=checkbox] {
   display: none !important;
 }

 mc-checkbox {
   display: inline-flex;
   align-items: center;
 }

 .check-box {
   height: 20px;
   width: 20px;
   background-color: transparent;
   border: 1.5px solid gray;
   border-radius: 3px;
   position: relative;
   display: inline-block;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -moz-transition: border-color ease 0.2s;
   -o-transition: border-color ease 0.2s;
   -webkit-transition: border-color ease 0.2s;
   transition: border-color ease 0.2s;
   cursor: pointer;
 }

 .check-box::before,
 .check-box::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   height: 0;
   width: 3px;
   background-color: #34b93d;
   display: inline-block;
   -moz-transform-origin: left top;
   -ms-transform-origin: left top;
   -o-transform-origin: left top;
   -webkit-transform-origin: left top;
   transform-origin: left top;
   border-radius: 3px;
   content: ' ';
   -webkit-transition: opacity ease 0.5;
   -moz-transition: opacity ease 0.5;
   transition: opacity ease 0.5;
 }

 .check-box::before {
   top: 14px;
   left: 9px;
   box-shadow: 0 0 0 2px white;
   -moz-transform: rotate(-135deg);
   -ms-transform: rotate(-135deg);
   -o-transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
   transform: rotate(-135deg);
 }

 .check-box::after {
   top: 9px;
   left: 3px;
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }

 input[type=checkbox]:checked+.check-box,
 .check-box.checked {
   border-color: #34b93d;
 }

 input[type=checkbox]:checked+.check-box::after,
 .check-box.checked::after {
   height: 15px;
   -moz-animation: dothabottomcheck 0.15s ease 0s forwards;
   -o-animation: dothabottomcheck 0.15s ease 0s forwards;
   -webkit-animation: dothabottomcheck 0.15s ease 0s forwards;
   animation: dothabottomcheck 0.15s ease 0s forwards;
 }

 input[type=checkbox]:checked+.check-box::before,
 .check-box.checked::before {
   height: 35px;
   -moz-animation: dothatopcheck 0.25s ease 0s forwards;
   -o-animation: dothatopcheck 0.25s ease 0s forwards;
   -webkit-animation: dothatopcheck 0.25s ease 0s forwards;
   animation: dothatopcheck 0.25s ease 0s forwards;
 }