/* .confirm-com .wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #05050561;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
  z-index: 1;
}
mc-confirm
.confirm-com .visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
} */

.mc-confirm {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  top: -20%;
  max-width: 100%;
  border-radius: .3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, .2);
}

.mc-confirm .header {
  display: flex;
  justify-content: space-between;
}

.mc-confirm>div {
  padding: 1rem;
}

.mc-confirm .title {
  font-size: 21px;
  font-weight: 600;
}

.mc-confirm .button-container {
  text-align: right;
}

.mc-confirm button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
}

.mc-confirm .button-container button {
  min-width: 80px;
  padding: 3px;
  color: white;
  cursor: pointer;
  border-radius: .25rem;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 0.92rem;
  margin-left: 0.5rem;
}

.button-container .btn-cancel {
  background-color: #abacad;
  /* border: 1px solid #eee;
  box-shadow: 1px 1px 3px rgba(220, 220, 220, .8); */
}

.button-container .btn-ok {
  background-color: #007bff;
}

.mc-confirm .button-container .btn-cancel:hover {
  background-color: #959799;
  transition: .2s background-color ease-in-out;
}

.mc-confirm .button-container .btn-ok:hover {
  background-color: #003ad8;
  transition: .2s background-color ease-in-out;
}