/* xanh la cay: #249544
xan da troi #0288D1
do: #E34C55 */
form {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}

form textarea {
    height: auto;
    min-height: 200px;
    padding: 50px 10px 10px 10px;
}

mc-form,
mc-form1 {
    position: relative;
    display: block;
    border-radius: 3px;
    border: 1px solid #0288D1;
    padding: 1rem;
    margin-bottom: 2rem;
}

mc-form .title-form,
mc-form1 .title-form {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
}

mc-form form-item,
mc-form1 form-item {
    display: block;

    align-items: center;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

form-item input[type="text"]:valid,
form-item input[type="email"]:valid,
form-item input[type="tel"]:valid,
form-item input[type="password"]:valid {
    background: url('../img/ok.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 99.5% 50%;
    border-color: #249544;
}


form-item input[type="text"]:valid+label,
form-item input[type="email"]:valid+label,
form-item input[type="tel"]:valid+label,
form-item input[type="password"]:valid+label {
    background-color: #249544;
    /* transition: background-color 300ms linear; */
}

/* form-item input:not([type='checkbox']):valid+label {
    background-color: #249544;
} */

form-item .repeat-1 {
    grid-template-columns: repeat(1, 1fr);
}

form-item .repeat-2,
form-item .repeat-2 {
    grid-template-columns: repeat(2, 1fr);
}

form-item .repeat-4 {
    grid-template-columns: repeat(4, 1fr);
}

form-item .repeat-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Input */
form-item input[is="input-text"] {
    padding: 10px 10px 10px 110px;
}

/* Combobox */
.cbobox-flex {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.cbobox-mr {
    margin-right: 10px;
}

mc-form .cbobox-mg {
    margin: 0 10px;
}


/* Seclect */
form-item.is-select {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

form-item.not-hidden {
    overflow: inherit;
}

form-item.is-select>label {
    margin-right: 10px;
}

/* Flex */
form-item.dp-flex {
    align-items: center;
}