input-text {
  position: relative;
  display: block;
  overflow: hidden;
}

/* Hiden icon in number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[is="input-text"] {
  width: 100%;
  height: 40px;
  padding: 0.5rem;

  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(1, 0.1, 0, 0.9);
  background-position: right;
}

input[is="input-text"]+label {
  top: 0;
  position: absolute;
  left: 0;
  height: 40px;
  width: 100px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  background: #0288D1;
  border-radius: 3px 0 0 3px;
  transition: all 0.25s cubic-bezier(1, 0.1, 0, 0.9);
  transform: translateZ(0) translateX(0);
}

input[is="input-text"]:focus {
  padding-left: 10px;
  border: none;
}

input[is="input-text"]:focus+label {
  transform: translateZ(0) translateX(-100%);
}


/* Validate */
input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: #E34C55;
}

input[type="text"]:invalid:focus:not(:placeholder-shown)~.input-error,
input[type="email"]:invalid:focus:not(:placeholder-shown)~.input-error,
input[type="tel"]:invalid:focus:not(:placeholder-shown)~.input-error,
textarea[is="input-area"]:invalid:focus:not(:placeholder-shown)~.input-error,
input[type="password"]:invalid:focus:not(:placeholder-shown)~.input-error {
  max-height: 200px;
  padding: 10px;
}

/* Validate error */
input~.input-error,
textarea~.input-error {
  padding-left: 10px;
  max-height: 0;
  transition: all 0.28s cubic-bezier(1, 0.1, 0, 0.9);
  overflow: hidden;
  color: #F63458;
  font-style: italic;
  font-size: 0.8rem;
}




/* Hiden icon in number */
mc-input input::-webkit-inner-spin-button,
mc-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


mc-input input {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 3px;
  background-position: right;
}

mc-input input+label {
  top: 0;
  position: absolute;
  left: 0;
  height: 40px;
  width: 100px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  background: #0288D1;
  border-radius: 3px 0 0 3px;
  transition: all 0.25s cubic-bezier(1, 0.1, 0, 0.9);
  transform: translateZ(0) translateX(0);
}

mc-input input:focus {
  padding-left: 10px;
  border: none;
}

mc-input input:focus+label {
  transform: translateZ(0) translateX(-100%);
}


/* Validate */
input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: #E34C55;
}

input[type="text"]:invalid:focus:not(:placeholder-shown)~.input-error,
input[type="email"]:invalid:focus:not(:placeholder-shown)~.input-error,
input[type="tel"]:invalid:focus:not(:placeholder-shown)~.input-error,
textarea[is="input-area"]:invalid:focus:not(:placeholder-shown)~.input-error,
input[type="password"]:invalid:focus:not(:placeholder-shown)~.input-error {
  max-height: 200px;
  padding: 10px;
}

/* Validate error */
input~.input-error,
textarea~.input-error {
  padding-left: 10px;
  max-height: 0;
  transition: all 0.28s cubic-bezier(1, 0.1, 0, 0.9);
  overflow: hidden;
  color: #F63458;
  font-style: italic;
  font-size: 0.8rem;
}
