mc-listview {
  display: block;
  padding: 0.5rem;
  background-color: white;
}

mc-listview>header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mc-listview>content {
  display: block;
}

/* Type List */
mc-listview[type=list]>content>mc-lvitem {
  display: flex;
}


mc-listview[type=list] mc-lvitem>.block-1 {
  flex: 2;
  padding: 0.5rem;
}

mc-listview[type=list] mc-lvitem>.block-1>img {
  border-radius: 5px;
}

mc-listview[type=list] mc-lvitem>.block-2 {
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}

mc-listview[type=list] mc-lvitem>.block-3 {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  color: darkgray;
}

mc-listview[type=list] mc-lvitem>.block-2>.title-block2 {
  font-size: 1.3rem;
  font-weight: 500;
}

mc-listview[type=list] mc-lvitem>.block-2>.content-block2 {
  color: gray;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70vw;
  overflow: hidden;
}

mc-listview[type=list] mc-lvitem>.block-2>.label-block2 {
  display: flex;
}

mc-lvitem>.block-2>.label-block2 span {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.25rem;
  border-radius: 5px;
}

/* Type Grid */
mc-listview[type=grid]>content {
  display: grid;
}


mc-listview[type=grid] mc-lvitem>.block-1 {
  flex: 2;
  padding: 0.5rem;
}

mc-listview[type=grid] mc-lvitem>.block-1>img {
  width: 100%;
  border-radius: 5px;
}

mc-listview[type=grid] mc-lvitem>.block-2 {
  padding: 0 0.5rem;
}

mc-listview[type=grid] mc-lvitem .sub-content-block2 {
  display: none;
}

mc-listview[type=grid] mc-lvitem>.block-3 {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5rem;
  color: darkgray;
}

mc-listview[type=grid] mc-lvitem>.block-2>.title-block2 {
  font-size: 1.25rem;
  font-weight: 500;
}

/* mc-listview[type=grid] mc-lvitem>.block-2>.content-block2 {
  color: gray;
} */