@import url('../css/alert.css');
@import url('../css/card.css');
@import url('../css/confirm.css');
@import url('../css/tab.css');
@import url('../css/combobox.css');
@import url('../css/checkbox.css');
@import url('../css/input.css');
@import url('../css/search.css');
@import url('../css/form.css');
@import url('../css/button.css');
@import url('../css/textArea.css');

body {
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    padding: 3rem;
}

button {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #0af;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.51);
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
}

.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.mr-b25 {
    margin-bottom: 50px;
}

.sub-infor {
    font-size: 0.9rem;
    color: gray;
}

.dp-flex {
    display: flex;
}

i[class='fas'] {
    margin-right: 10px;
}

.span-sub {
    font-size: 0.95rem;
}

.italic {
    font-style: italic;
}