input-search,
mc-search {
  position: relative;
  display: block;
  width: 100%;
}

input.input-search {
  position: relative;
  -webkit-appearance: textfield;
  font-family: inherit;
  font-size: 100%;
  font-size: 0.95rem;
  outline: none;
  box-sizing: border-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input.input-search {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 35px;
  width: 100%;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input.input-search:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 7px;
  cursor: pointer;
  font-size: 0.95rem;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}