mc-tab {
  display: none;
}

.tab-component {
  max-width: 900px;
  background: #fff;
  overflow: hidden;
}

.style-1 {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tab-component.no-outline {
  box-shadow: unset;
  border: none;
}

.tab-component section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
  word-break: break-word;
}

.tab-component .input-tab-component {
  display: none;
}

.tab-component .lab-tab-component {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

.tab-component .lab-tab-component i {
  margin-right: 10px;
}

.tab-component .lab-tab-component:hover {
  color: #789;
  cursor: pointer;
}

.tab-component input:checked+.lab-tab-component {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff;
}

#tab0:checked~section#content0,
#tab1:checked~section#content1,
#tab2:checked~section#content2,
#tab3:checked~section#content3 {
  display: block;
}

@media screen and (max-width: 800px) {

  .tab-component .lab-tab-component {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 500px) {
  .tab-component .lab-tab-component {
    padding: 15px;
  }

  .tab-component section {
    font-size: 0.95rem;
  }
}

input[type='radio'] {
  display: none;
}

/* Style 2 */
.tab-component .title-tabcomponent {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #0af
}

.tab-component .title-tabcomponent .title-item {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  color: #e5e5e5;
  text-transform: uppercase;
}

.title-tabcomponent .title-item.active {
  color: white;
  transition: color 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}

.tab-component .slider-tabcomponent {
  position: absolute;
  border-bottom: 4px solid wheat;
  transition: transform 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  width: 100%;
  left: 0;
  bottom: 0;
}

/* Content item */
.content-tabcomponent {
  position: relative;
  height: 400px;
  transition: transform 0.5s cubic-bezier(.29,.6,.54,.89) 0s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(.29,.6,.54,.89) 0s;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(.29,.6,.54,.89) 0s;
}

.content-tabcomponent .content-item {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200px;
  text-align: center;
  font-size: 28pt;
  cursor: pointer;
}

.move-to-second {
  transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
}

.move-to-first {
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.content-item.item-0 {
  top: 0px;
}

.content-item.item-1 {
  top: 0px;
}

.content-item.item-2 {
  top: 0px;
}

.content-item.item-3 {
  top: 0px;
}