input-area,
mc-area {
  display: block;
  position: relative;
  overflow: hidden;
}

mc-area textarea,
textarea[is="input-area"] {
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  min-height: 200px;
  box-sizing: border-box;
  padding: 50px 10px 10px 10px;
  border-radius: 3px;
}

textarea+label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  background: #0288D1;
  border-radius: 3px 0 0 3px;
  transition: all 0.25s cubic-bezier(1, 0.1, 0, 0.9);
  transform: translateZ(0) translateX(0);
  width: 100%;
  border-radius: 3px 3px 0 0;
}

textarea[is="input-area"]:focus {
  padding-top: 10px;
}

textarea[is="input-area"]:focus+label {
  transform: translateZ(0) translateY(-100%);
}

/* Validate */
textarea[is="input-area"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: #E34C55;
}

textarea[is="input-area"]:valid {
  border-color: #249544;
}

textarea[is="input-area"]:valid+label {
  background-color: #249544;
}

/* input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="tel"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  border-color: #E34C55;
} */